<div id="<%= dom_id medicine %>">
  <p>
    <strong>Name:</strong>
    <%= medicine.name %>
  </p>

  <p>
    <strong>Hour:</strong>
    <%= medicine.hour %>
  </p>

  <p>
    <strong>Minute:</strong>
    <%= medicine.minute %>
  </p>

  <p>
    <strong>Second:</strong>
    <%= medicine.second %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= medicine.memo %>
  </p>

</div>
